{# Copyright 2016 C. Thubert #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="alert alert-warning" role="alert">
    <strong>Attention !</strong> L'application est en cours de construction.
</div>
<div class="row" >
    <div class="col-md-12" style="text-align:center;" >
        <img src="{{ asset('bandeau-accueil.png') }}" alt="Application Qualité" />
    </div>
</div>
{% endblock %}
