{# Copyright 2016 C. Thubert #}

<h2>Rappel déchet</h2>
{# ***************************************************************************** New line
 #}
<div class="row" >
    {# ------------------------------------------------------------------------- Nom
     #}
    <div class="col-md-1" >
        <strong>Nom</strong>
    </div>
    <div class="col-md-5" >
        {{ dec.nom }} 
    </div>
    {# ------------------------------------------------------------------------- Description
     #}
    <div class="col-md-1" >
        <strong>Description</strong>
    </div>
    <div class="col-md-5" >
        {{ dec.description }} 
    </div>
</div>